<Proxy balancer://mycluster-1>
BalancerMember ajp://127.0.0.1:8009/DBSync/  route=node-1
BalancerMember ajp://127.0.0.1:7009/DBSync/  route=node-2
ProxySet lbmethod=bybusyness
#ProxySet stickysession=JSESSIONID
ProxySet stickysession=ROUTEID
</Proxy>
ProxyPass /DBSync/ balancer://mycluster-1/

<Proxy balancer://mycluster-2>
BalancerMember ajp://127.0.0.1:8009/cw/  route=node-1
BalancerMember ajp://127.0.0.1:7009/cw/  route=node-2
#ProxySet lbmethod=bybusyness
#ProxySet stickysession=JSESSIONID
ProxySet stickysession=ROUTEID
</Proxy>
ProxyPass /cw/ balancer://mycluster-2/

#ProxyPass /DBSync/ balancer://mycluster/
Header add Set-Cookie "ROUTEID=sticky.%{BALANCER_WORKER_ROUTE}e;path=/;" env=BALANCER_ROUTE_CHANGED
# Manager configuration for the Load Balancer
<Location /balancer-manager>
SetHandler balancer-manager
Order Deny,Allow
Deny from all
Allow from all
</Location>

